:root {
  --main-color:#001f3f;
  --light-color:#777;
  --light-bg:#eee;
  --black:#000000;
  --white:#fff;
  --dark-gray: #353535;
  --light-gray: #a09d9d;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.2);
  --light-blue: #a3eaf7;
  --blue: #2149ff;
}

.app-container {
  font-family: Arial, sans-serif;
}

.header{
  position: sticky;
  top: 0; left: 0; right: 0;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .flex{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .logo{
  max-width: 8%;
  margin-left: 10px;
}

.header .flex .navbar a{
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: var(--white);
  border-radius: .5rem;

}

.header .flex .navbar a:hover{
  background-color: var(--dark-gray);
  color: var(--white);
}

.welcome-message {
  text-align: center;
  margin: 20px 0;
}

.app-footer {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 10px;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center; /* This will vertically center both divs in the footer */
  background-color: var(--dark-gray);
}

.footer .visits {
  text-align: center;
  flex: 1; /* This will allow .visits to take up available space */
  padding: 1.5rem 0; 
  font-size: 16px;
  margin-left: 150px;
}

.footer .version {
  text-align: right; /* Align the text to the right */
  padding: 1.5rem 0;
  margin-right: 50px; /* Keeps the version to the right with a margin */
}

.page-layout {
  text-align: center; /* Center align all the text inside the .home-page */
  padding: 20px; /* Adds some padding for better spacing */
}

.heading {
  font-size: 35px;
  color: var(--main-color); /* Using the --main-color variable */
}

.subhead {
  font-size: 20px;
  color: var(--light-color); /* Using the --light-color variable */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.page-layout ul {
  list-style-type: disc; /* to ensure bullet points are displayed */
  display: flex;
  flex-direction: column; /* stack list items vertically */
  align-items: center; /* center-align each list item */
  padding: 0; /* remove default padding */
}

.page-layout li {
  text-align: left; /* to keep the text left-aligned to the bullet points */
  width: fit-content; /* fit the width of the list item to its content */
}