:root {
  --main-color:#003809;
  --light-color:#777;
  --light-bg:#eee;
  --black:#000000;
  --white:#fff;
  --dark-gray: #353535;
  --darker-gray: #1b1b1b;
  --light-gray: #a09d9d;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.5rem solid rgba(0,0,0,.2);
  --light-blue: #a3eaf7;
  --blue: #2149ff;
}

.app-container {
  font-family: Arial, sans-serif;
  min-height: 100vh;  /* make sure it covers the full viewport height */
  background-color: var(--dark-gray);
}

.header{
  position: sticky;
  top: 0; left: 0; right: 0;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .flex{
  position: relative;
  display: flex;
  align-items: center;
}

.header .flex .logo{
  max-width: 3.5%;
  margin: 10px;
}

.header .flex .navbar a{
  padding: 1rem 1.5rem;
  font-size: 15px;
  color: var(--white);
  text-decoration: none;
}

.header .flex .navbar a:hover{
  color: var(--light-blue);
}

.footer {
  width: 100%;
  background-color: var(--darker-gray);
  color: var(--white);
  padding: 10px;
  text-align: center;
}

.heading {
  font-size: 90px;
  color: var(--white); 
  margin-left: 50px;
  font-weight: bold;
}

.subhead {
  font-weight: bold;
  font-size: 25px;
  color: var(--white); 
  max-width: 800px;
  margin-left: 50px;
  padding-bottom: 200px;
}

.page-layout ul {
  list-style-type: disc; /* to ensure bullet points are displayed */
  display: flex;
  flex-direction: column; /* stack list items vertically */
  align-items: center; /* center-align each list item */
  padding: 0; /* remove default padding */
  background-color: var(--dark-gray);
}

.page-layout li {
  text-align: left; /* to keep the text left-aligned to the bullet points */
  width: fit-content; /* fit the width of the list item to its content */
}