@import "./App.css";

.crypto-page {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.crypto-page h1 {
    color: #333;
}

.Coingraph{
    display: flex;
    
}

.Coinstats{
    margin-left: 100px;
    margin-top: 125px;
}

.page-title-and-logo{
    display: flex;
}

.page-title-and-logo img{
    margin-top: 10px;
    margin-left: 50px;
}
