@import "./App.css";

.timeline-layout {
    margin-bottom: 300px;
}

.timeline-layout .timeline-head{
    color: var(--white);
    font-size: 50px;
    margin-left: 38%;
}

.timeline-layout ul {
    color: var(--white);
    font-size: 30px;
    margin-left: 38%;
}
